<div class="px-4 py-5 my-5 text-center">
  <h1 class="dispaly-5 fw-bold">Submit News</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead"><i>Share your News to World</i></p>
  </div>
</div>




<!-- <div class="row justify-content-center">
  <% if(Infosubmit != '') { %>
    <div class="col-8 alert alert-success" role="alert">
      <%= Infosubmit %>
    </div>
  <% } %> -->

  <% if(InfoErrorsObj != '') { %>
    <div class="col-8 alert alert-danger" role="alert">
      <%= InfoErrorsObj[0].message%>
    </div>
  <% } %>

  <div class="col-8">
    <form action="/submit-recipe" enctype="multipart/form-data" method="POST">
      <div class="row g-3">
        <div class="col-12">
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" id="email" class="form-control" required/>
        </div>

        <div class="col-12">
          <label for="email" class="form-label">Type of news</label>
          <input type="text" name="name" id="name" class="form-control"  required/>
        </div>

      




        <div class="col-12">
          <label for="description" class="form-label">Description</label>
          <br />
          <textarea
            name="description"
            id="description"
            class="form-contol"
            cols="30"
            rows="4"
            required
          ></textarea>
        </div>

       
        <div class="col-12">
          <label for="image"> Image</label>
          <input
            type="file"
            class="form-control"
            name="image"
            accept="image/*"
            required
          />
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
